// - - - - - -

:root {
  --black-color: #000000;
  --white-color: #FFFFFF;
  --grey-color: #868686;
  --main-color: #192555;
  --mainDark-color: #121840;
  --second-color: #B8B2A3;
  --secondDark-color: #999589;
  --success-color: #00FF00;
  --error-color: #FF0000;
}

// - - - - - -